<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>



<body>

<h2> Landing page for web-integration plugin</h2>
<p><b>Limited Access Token: </b> <%= limited %> </p>
<p><b><a href="https://account.box.com/api/oauth2/authorize?response_type=code&client_id=5rse5hy8n9hqu8xh62d45hns3d61vm4v&state=2q20NI&redirect_uri=169.45.207.229:5000/auth">Retrieve Full Access Token:</a>  </b> <%= full %> </p>
</body>
</html>
